body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left{
  background-color:teal;
  font-weight: bolder;
  color:azure;
}

.nav1{
  background-image: url(../src/imagenes/header6.jpg);
  background-size:cover;
  height: 500px;
  width: 100%;
}
.body1{
  background-color: #bb9755;
  background-size:cover;
  width: 100%;
  text-align: left;
  
}

.bodyCon{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.header{
  width: 100%;
}

#navbarBasicExample{
  text-align: center;
}
.secmain{
  background-color:#665748; 
  width: 100%;
    display:flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.navbar-item img {
   max-height: 3rem; 
}

.navbar-end{
  font-weight: bolder;
  text-align:center ;
  align-items: center;
}
 a:hover{
  border-radius:50px;
}

.columMain{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  
}
.des{
  background-image: url('../src/imagenes/fondo1.png');
  box-shadow: 100px 96px 95px -95px rgba(8, 8, 8, 0.65);
  background-size:cover;
}
.titulo1{
  font-size: 3em;
  color: white;
  text-align: center;
}
.titulo2{
  font-size: 1em;
  font-weight: bolder;
  color: white;
}
.parrafo1{
  color: white;
}


.especialidades{
  font-weight: bolder;
  text-align: center;
  font-size: 2em;
  margin-top: 5%;
  margin-bottom:7%;
  color:rgb(77, 53, 8);
}
.wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tarjeta-wrap{
  margin:10px;
  -webkit-perspective: 400;
  perspective: 400;
}
.tarjeta{
  width: 200px;
  height: 250px;
  background: #bb9755;
  position: relative;
  transform-style:preserve-3d;
  box-shadow: -30px 30px 35px -35px rgba(8, 8, 8, 0.65);
}
.atras p{
  padding: 20px 20px;
}
.adelante, .atras{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.atras{
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
}
.tarjeta-wrap:hover .tarjeta{
  transform: rotateY(180deg);
}
.tarjeta1{
  background-image: url(../src/imagenes/tiradioAtun.jpg);
  background-size:cover;
}
.tarjeta2{
  background-image: url(../src/imagenes/AguaChRib.jpg);
  background-size:cover;
}
.fig1{
  background-image: url(../src/imagenes/AguaChRib.jpg);
  background-size: cover;
}

.reservacion{
  margin-bottom: 0px;
}
.iUser{
  width: 25px;
  height: 25px;
}
.formrev{
  height: 100px;
    width:100%;
    display:flex;
    align-items: center;
    align-content: flex-start;
}
.formulario{
  border-style: solid;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 10px;
  padding-top: 0%;
}

.formrev2{
  height: 200px;
    width:100%;
    display:flex;
    align-items: center;
}

.tiRev{
  font-size: 3em;
  color: brown;
  text-align: center;
}
.formargin{
  margin-right: 2px;
  margin-left: 2px;
  display:flex;
    align-items: center;
    align-content:initial ;
}


.iconSocial{
  width: 100px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.social{
  display: flex;
    justify-content: center;
}

.icon-marg{
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.direccion{
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.foo{
  background-color: rgba(41, 41, 41, 0.918);
  height: 250px;
  color: rgb(201, 195, 195);
}
.imgCon{
  background-image: url(../src/imagenes/conocenos.jpg);
  width: 90%;
  height: 90%;
  margin-top: 35px;
  background-size:cover;
  display: flex;
  flex-wrap: wrap;
  
}
.tcon{
  color: rgb(87, 42, 21);
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
}
.pcon{
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(17, 17, 17);
  font-size: 1em;
}

.plat1{
  display: grid;
}

.conprecio{
  margin-left: 7px;
  text-align: center;
  margin-top: 35px;
}

.card{
  margin-left: 10px;
  margin-right: 10px;
}

.tituloMenu{
  background-color: #bb9755;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

.sub{
  background-color: #665748;
  color:snow;
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
}
